# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Америка\EDUcation\Montogemery Colledge\Montgomery Java Mini Boot Camp\Tasks\countdown\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
